;root{
    /* Primarios */
    --dark-black: radial-gradient(circle, rgba(102,1,1,1) 0%, rgba(11,0,0,1) 100%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* Comps */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* main components */