.footer{
    background: radial-gradient(circle, rgba(102,1,1,1) 0%, rgba(11,0,0,1) 100%);
}
.div_logo{
    width: 30%;
    margin: auto;
    text-align: center;
}
.logofoot{
    width: 160px;
    height: 190px;
    margin: auto;
}
.redes{
    width: 30%;
    margin: auto;
    justify-content: center;
}
